<h1>Obiectele disponibile pentru:<br>
<%= "Filmul: #{@item.name}" %></h1>
<br>
<%= form_tag(item_physical_videos_path(@item.id), method: :get) do %>
  Locatie: <%= select_tag :location_id, options_for_select(select_location), class: "form-control-sm input-sm"%>
  Format: <%= select_tag :format, options_for_select(select_location), class: "form-control-sm input-sm"%>
  Rezolutie: <%= select_tag :resolution, options_for_select(select_location), class: "form-control-sm input-sm"%>
  3d: <%= select_tag :is_3d, options_for_select(select_location), class: "form-control-sm input-sm"%>
  <%= submit_tag 'Aplica filtre', class: "btn btn-dark"%>
  <a href="<%= "#{videos_url}" %>" class="btn btn-outline-danger">Ignora filtre</a><br>
<% end %>

<div class="table">
  <table class="table">
    <thead>
      <tr>
        <th>ID<th>
        <th>Locatie</th>
        <th>Oras</th>
        <th>Format</th>
        <th>Rezolutie</th>
        <th>Detalii sunet</th>
        <th>3D</th>
        <th>Dublat</th>
        <th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @physical_videos.each do |physical_video| %>
        <tr>
          <td class="align-middle"><%= %></td>
          <td class="align-middle"><%= physical_video.id %></td>
          <td class="align-middle"><%= physical_video.physical_item.location.name %></td>
          <td class="align-middle"><%= physical_video.physical_item.location.city.name %></td>
          <td class="align-middle"><%= physical_video.format %></td>
          <td class="align-middle"><%= physical_video.resolution %></td>
          <td class="align-middle"><%= physical_video.sound %></td>
          <td class="align-middle"><%= physical_video.is_3d ? "Da" : "Nu" %></td>
          <td class="align-middle"><%= physical_video.blank? ? "Nu" : "Da" %></td>
          <td class="align-middle"><%= button_to "Imprumuta", new_physical_item_loan_path(physical_video.physical_item), method: :get, class: "btn btn-success btn-sm" %> </td>
        </tr>
        <% Loan.where(physical_item_id: physical_video.physical_item.id).where("return_date >= ? AND status IS NOT ?", Date.yesterday, "cancelled").each do |loan| %>
          <tr class="table-warning">
          <td colspan="10"><b> Obiect indisponibil in perioada: <%= " #{loan.burrow_date} - #{loan.return_date}" %> </b></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
