<h1>Log in</h1>
<p>Introdu datele pentru a accesa contul de utilizator:</p>
<%= form_for :session, url: login_path do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 col-form-label" %>
    <%= f.email_field :email, class: "textinput", placeholder: "Introdu adresa de mail" %>
  </div>

  <div class="form-group">
    <%= f.label :parola, class: "col-sm-2 col-form-label" %>
    <%= f.password_field :password, class: "textinput" %>
  </div>

  <%= f.submit "Logheaza-te in cont", class: "btn btn-primary" %>
<% end %>
  <p>Daca nu ai inca un cont, poti crea unul <%= link_to "aici", sign_up_path %>.</p>
