<div class="page-header">
  <h1>Listing physical_items</h1>
</div>
<br>
<%= link_to 'New Physical item', new_administrator_physical_item_path, class: 'btn btn-primary' %>

<br><br>
<%= search_form_for @q, url: administrator_physical_items_path do |f| %>

  <%= f.label :id %>
  <%= f.search_field :id_eq, class: "form-control-sm" %>

  <%= f.label :item_id, "Item ID" %>
  <%= f.search_field :item_id_eq, class: "form-control-sm" %>

  <%= f.label :location_id, "Item ID" %>
  <%= f.search_field :location_id_eq, class: "form-control-sm" %>

  <br>
  <%= f.submit 'Search', class: "btn btn-outline-primary btn-sm"%>
  <a href="<%= "#{administrator_physical_items_url}" %>" class="btn btn-outline-dark btn-sm">Ignore filters</a>
<% end %>

<%= paginate @physical_items %>
<br>
<%= page_entries_info @physical_items, entry_name: 'client' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Item</th>
      <th>Location</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @physical_items.each do |physical_item| %>
      <tr>
        <td><%= physical_item.id %></td>
        <td><%= link_to "#{physical_item.item_id} - #{physical_item.item.name}", administrator_item_path(physical_item.item) %> </td>
        <td><%= link_to "#{physical_item.location_id} - #{physical_item.location.name}", administrator_location_path(physical_item.location) %> </td>
        <td><%= physical_item.category %></td>
        <td><%= link_to 'Show', [:administrator, physical_item], class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_administrator_physical_item_path(physical_item), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', [:administrator, physical_item], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
