<%= form_for([:administrator, @coordinate], html: { class: 'form-horizontal coordinate' }) do |f| %>
  <% if @coordinate.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@coordinate.errors.count, "error") %> prohibited this coordinate from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @coordinate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :longitude, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :longitude, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :latitude, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :latitude, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
