<div class="page-header">
  <h1>Listing coordinates</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>longitude</th>
      <th>Latitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coordinates.each do |coordinate| %>
      <tr>
        <td><%= coordinate.id %></td>
        <td><%= coordinate.longitude %></td>
        <td><%= coordinate.latitude %></td>
        <td><%= link_to 'Show', [:administrator, coordinate], class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_administrator_coordinate_path(coordinate), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', [:administrator, coordinate], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coordinate', new_administrator_coordinate_path, class: 'btn btn-primary' %>
