<div class="row">

  <div class="col-lg-3">
    <h1 class="my-4">Filme</h1>
    <% if admin? %>
    <%= button_to "Adauga filme", new_admin_video_path, method: :get, class: "btn btn-primary" %>
    <% end %>
    <br>
    <%= form_tag(videos_url, method: :get) do %>
      <div class="justify-content-center"> <%= submit_tag 'Aplica filtre', class: "btn btn-dark"%>
      <a href="<%= "#{videos_url}" %>" class="btn btn-outline-danger">Ignora filtre</a></div> <br>

      <div class="list-group">
        <div class="list-group-item">Titlu: <%= text_field_tag :name, nil, class: "form-control form-control-sm input-sm"%> </div>
        <div class="list-group-item">Anul apariției: <%= select_tag :year, options_for_select(select_year), class: "form-control form-control-sm input-sm"%></div>
        <div class="list-group-item">Gen: <%= select_tag :genre, options_for_select(select_genre), class: "form-control form-control-sm input-sm"%></div>
        <div class="list-group-item">Actori principali: <%= text_field_tag :actors, nil, class: "form-control form-control-sm input-sm"%> </div>
        <div class="list-group-item">Locatii: <%= select_tag :locations, options_for_select(select_location), class: "form-control form-control-sm input-sm"%> </div>
      </div>
    <% end %>

    <br>
    <div class="center-block"> <%= paginate @videos %> </div>

  </div>

  <div class="col-lg-9">
    <br><br>
    <div class="row">
      <% @videos.each do |video| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag(video.poster_url, :alt => "", style: "width:252px;height:430px;") %>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to "#{video.item.name} (#{video.year})", video_path(video) %>
            </h4>
            <p class="card-text"> Rating imdb: <%= video.imdb_rating %> </p>
            <p class="card-text"> Gen: <%= video.genres %></p>
            <p class="card-text"> Actori: <%= video.actors %> </p>

          </div>
          <div class="card-footer">
            <small class="text-muted"><div class="btn-group"><%= button_to "Vezi detalii", video_path(video), method: :get, class: "btn btn-success btn-sm btn-space" %><%= button_to("Imprumuta", item_physical_videos_path(video.item.id), method: :get, class: "btn btn-primary btn-sm") if video.item.physical_items.present? %></div></small>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
