<%= form_for([:administrator, @loan], html: { class: 'form-horizontal loan' }) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @loan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :client_id, raw("Client ID"), class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :client_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :physical_item_id, raw("Physical Item ID"), class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :physical_item_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :burrow_date, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :burrow_date, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :return_date, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :return_date, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select :status, options_for_select(select_status), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
