<h1>Creează o cerere de imprumut</h1>
<br>

<p>Obiectul care se doreste a fi imprumutat este: "<%= @physical_item.item.name %>"</p>
<p>Codul exemplarului este "<%= @physical_item.id %>"</p>
<p>Obiectul va putea sa fie ridicat de la locatia "<%= @physical_item.location.name %>"</p>
<br>
<p>Completează urmatorul formular pentru a realiza cererea de imprumut:</p>
<%= form_for @loan, url: loans_path do |f| %>

  <ul>
    <% @loan.errors.full_messages.each do |msg| %>
      <li class="text-danger"> <%= msg %></li>
    <% end %>
  </ul>

  <div class="form-group row">
    <%= f.label :data_imprumutului, class: "col-sm-2 col-form-label" %>
    <%= f.date_field :burrow_date, class: "form-control-sm" %>
  </div>

  <div class="form-group row">
    <%= f.label :data_returnarii, class: "col-sm-2 col-form-label" %>
    <%= f.date_field :return_date, class: "form-control-sm" %>
  </div>

  <%= f.hidden_field :client_id, value: current_user.client.id.to_s %>
  <%= f.hidden_field :physical_item_id, value: @physical_item.id.to_s %>
  <%= f.hidden_field :status, value: "active" %>

  <%= f.submit "Realizeaza imprumutul", class: "btn btn-primary" %>
  <%= link_to 'Inapoi', item_physical_videos_path(@physical_item.item), class: 'btn btn-warning' %>
<% end %>
<br><br>
<% Loan.where(physical_item_id: @physical_item.id).where("return_date >= ? AND status IS NOT ?", Date.yesterday, "cancelled").each do |loan| %>
<b> Obiect indisponibil in perioada: <%= " #{loan.burrow_date} - #{loan.return_date}" %> </b>
<br>
<% end %>
