<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Biblioteca Multimedia", root_path, class: "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <li class="nav-item">
        <%= link_to "Home", root_url, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Filme", videos_url, class: "nav-link" %>
      </li>

      <% if is_logged_in? %>
        <%= link_to "Împrumuturi", "#", class: "nav-link" %>
      <% end %>

      <li class="nav-item">
        <%= link_to "Locații", locations_url, class: "nav-link" %>
      </li>

      <% if is_logged_in? %>
        <li class="nav-item">
          <%= link_to "Contul meu", edit_user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Cont nou", sign_up_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<% if admin? %>
    <nav class="navbar navbar-expand-sm bg-danger navbar-dark">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Administrator", root_path, class: "navbar-brand" %>
        </div>


        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <%= link_to "Global Settings", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Loans", videos_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Clients", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Users", videos_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Items", administrator_items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Videos", administrator_videos_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Physical Items", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Physical Videos", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Locations", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Cities", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Coordinates", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
<% end %>
