<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Biblioteca Multimedia", root_path, class: "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <li class="nav-item">
        <%= link_to "Home", root_url, class: "nav-link" %>
      </li>

      <% if is_logged_in? %>
        <li class="nav-item">
          <%= link_to "Contul meu", edit_user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contul Meu
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <%= link_to "Log in", login_path, class: "dropdown-item text-white" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Cont nou", sign_up_path, class: "dropdown-item text-white" %>
        </div>
      </li>

      <% end %>


    </ul>
  </div>
</nav>

<% if admin? %>
    <nav class="navbar navbar-expand-sm bg-danger navbar-dark">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Administrator", root_path, class: "navbar-brand" %>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <%= link_to "Home", "%", class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
<% end %>
