<%= form_for([:administrator, @physical_video], html: { class: 'form-horizontal physical_video' }) do |f| %>
  <% if @physical_video.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@physical_video.errors.count, "error") %> prohibited this physical_video from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @physical_video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :physical_item_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :physical_item_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.label :is_3d, for: nil do %>
        <%= f.check_box :is_3d %>
        <%= PhysicalVideo.human_attribute_name(:is_3d) %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :format, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :format, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :resolution, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :resolution, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sound, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :sound, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dubbed, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :dubbed, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :other_information, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :other_information, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
